/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #16a085;
  font-family: 'Raleway', sans-serif;
}

.quote-container {
  background-color: #ffffff;
  padding: 40px 50px;
  width: 450px;
  margin: 15% auto auto auto;
  border-radius: 3px;
}

.quote {
  text-align: center;
}

.author {
  text-align: right;
}

.new-quote {
  text-align: right;
  margin-top: 30px;

  a {
    padding: 10px;
    background-color: #16a085;
    border-radius: 3px;
    text-decoration: none;
  }

  a,
  a:visited,
  a:active,
  a:hover {
    color: #ffffff;
  }
}
